{% extends 'blog/base.html' %}

{% block content %}
    <div class="quote">
        {% if quote.created_date %}
            <div class="date">
                {{ quote.created_date }}
            </div>
        {% endif %}
        <h1>{{ quote.title }}</h1>
        <p>{{ quote.text|linebreaksbr }}</p>
    </div>
{% endblock %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Quotes</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-upload fa-fw"></i>Upload a quote
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                {% if quote.created_date %}
                                    <div class="date">
                                        {{ quote.created_date }}
                                    </div>
                                {% endif %}
                                <h1>{{ quote.title }}</h1>
                                <p>{{ quote.text|linebreaksbr }}</p>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div?